
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


header {
  background-color: #ffcc00; 
  padding: 20px 0;
 
}

.header-content {
  text-align: center;
}

header h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 10px;
}

header nav {
  display: flex;
  justify-content: center;   /* центрирование элем по горизонтали */
  gap: 15px;      /* расстояние между*/
  
}

header nav a {
  color: #333;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

header nav a:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый */
}

/* Основное содержимое */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Выравнивание текста */
th:nth-child(1), td:nth-child(1) {
  text-align: left; /* Первый столбец — по левому краю */
}

th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3) {
  text-align: center; /* Центральные столбцы — по центру */
}

th:nth-child(4), td:nth-child(4) {
  text-align: right; /* Правый столбец — по правому краю */
}


th {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f1f1f1;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #f8f8f8;
}
.image img {
  max-width: 100%; /* Картинка не будет выходить за пределы контейнера */
  height: auto; /* Сохраняет пропорции */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block; /* Убирает лишние отступы вокруг картинки */
  margin: 0 auto; /* Центрирует картинку по горизонтали */
}